<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>maff-analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  {% endblock %}
</head>
<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  {% block javascript %}
  <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/vue/dist/vue.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
  {% endblock %}
</body>
</html>
